<%- include('../partials/header'), { content }; -%>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<%- include('../partials/banner'), { content }; -%>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<% content.sections.forEach(function(item){ %>
<section class="container">
  <img
    src="<%- item.section.desktop %>"
    srcset="<%- item.section.mobile %> 570w, <%- item.section.desktop %> 640w"
    alt="<%= item.section.description %>"
  />
  <h2><%- item.section.description %></h2>
  <p><%= item.section.description %></p>
</section>
<% }); %>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER -->

<%- include('../partials/footer'); -%>
