<%- include('../partials/header'); -%>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<%- include('../partials/banner'), { content }; -%>

<section class="container">
  <img
    src="<%- content.image.desktop %>"
    srcset="<%- content.image.mobile %> 570w, <%- content.image.desktop %> 640w"
  />
</section>

<section class="container link-section">
  <a href="/portfolio" class="btn">Check out my portfolio</a>
  <a href="/about" class="btn">Read more about me</a>
</section>

<%- include('../partials/footer'); -%>
