<%- include('../partials/header'); -%>

<section class="banner container">
  <h1><%= content.banner.headline %></h1>
  <p><%- content.banner.subHeadline %></p>
</section>

<section class="container">
  <img
    src="<%- content.image.mobile %>"
    srcset="<%- content.image.desktop %> 501w"
  />
</section>

<section class="container link-section">
  <a href="/portfolio" class="btn">Check out my portfolio</a>
  <a href="/about" class="btn">Read more about me</a>
</section>

<%- include('../partials/footer'); -%>
