<%- include('../partials/header'); -%>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<%- include('../partials/banner'), { content }; -%>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<% content.portfolioItems.forEach(function(item){ %>
<section class="container">
  <div class="portfolio-item portfolio-item--<%- item.align %>">
    <img
      class="portfolio-item__image"
      src="<%- item.image.mobile %>"
      srcset="<%- item.image.desktop %> 501w"
      alt="<%= item.image.description %>"
    />
    <div class="portfolio-item__content">
      <h2><%- item.image.description %></h2>
      <p><%= item.image.description %></p>
    </div>
  </div>
</section>
<% }); %>

<!-- STOP INCLUDES FORMATTING NEXT TO EACH OTHER-->

<%- include('../partials/footer'); -%>
